.movement-page {
   height: 100vh;
}

.movement-content {
   display: flex;
}

.movement-content-table {
   background-color: blue;
   flex-grow: 2;
}

.movement-content-form {
   background: red;
   flex-grow: 1;
}